/* responsive centred form container */
.page-container {
    max-width: 600px;
    margin: 0 auto;        /* center horizontally */
    padding: 20px;
    box-sizing: border-box; /* include padding in width */
}
@media (max-width: 600px) {
    .page-container {
        width: 90%;
        padding: 10px;
    }
}

/* adds spacing between each question within form */
.form-field {
    margin-bottom: 20px; /* space between form sections */
}

/* turns label into block element and styles it to look like h3 */
label {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 6px;
}

/* on dropdown list: displays placeholder as grey,
and makes real options black (some browsers need this manual override) */
select:required:invalid {
    color: #999;
}
select option {
    color: #000;
}

/* styling form question sublabel */
.form-help {
    display: block;
    font-size: 0.85em;
    color: #222;
    margin-top: 2px;
}